*{ font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 2%;
}

main{
     border: 8px solid #5590ed;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
 }

header{
    display: flex;
    justify-content: space-between;
    padding: 10px 3%;
    text-align: center;
    width: 100%;
    height: 8vh;
    background-color: #5590ed;
}

header h2{
    color: white;
}

.wraper_date{
    display:flex;
}

header label{
    margin-right: 10px;
    font-size: 22px;
    color:white;
    font-weight: bold;
}

header input[type="date"]{
    width: 100%;
    max-width: 120px;
    height: 5vh;
    border-radius: 15px;
    border:none;
    padding: 5px;
    
}

.header_note{
    display: flex;
    justify-content: space-between;
    height: 21px;
    border-radius: 15px;
    text-align: center;
    background-color: #5590ed;
}



.note .border{
    z-index: 1;
    width: 18px;
    height: 18px;
    background-color:white;
}

.note .border_right{
    transform: rotate(45deg) translateX(3px);
}

.note .border_left{
    transform: rotate(45deg) translateY(3px);
}

.note{
    width: 100%;
    max-width: 180px;
    height: 200px;
    margin-bottom:40px;
 }

 .header_note span{
    font-size: 17px;
    color: white;
    font-weight: bold;
    
 }

.note textarea{
    margin-top: 5px;
    width: 180px;
    height: 200px;
    resize: none;
    outline: 0;
    padding: 2px 5px;
}

.header-notes-area{
    transform: translateX(-50%);
    width:360px;
}

textarea.notes-area{
    transform: translateX(-50%);
    width: 360px;
 }
.button-save{
    display: flex;
    justify-content: center;
    
}
.button-save button{
    margin: 10px 5px;
    width: 100%;
    max-width: 120px;
    font-size: 19px;
    background-color: #5590ed;
    color: white;
    border:none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}





